{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6 mx-auto mb-3">
        <h2>About</h2>
        <hr />
        <p>
           At MealBuild, we offer a vast digital library
           of recipes, analysis tools, and services
           that help with everything around diet. Browse our
           extensive collection of recipes, filter by dietary
           restrictions, available ingredients, or even 
           available tools. With just a few clicks, you can 
           plan out your next meals and instantly
           check your daily macros/micros.
        </p>
        <p>
          Discover the convenience of our digital platform,
          where you have the flexibility to plan meals
          on your preferred device, whether it's a smart
          TV, tablet, or smartphone. With our intuitive
          search and recommendation features, building 
          your next meal has never been easier.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}